@model Sweetmeat

@{ ViewData["Title"] = "Sweetmeat details"; }

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white " style="background-color: #D982FF; ">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        
                        <p class="card-text">
                            <b>Producer: </b>
                            <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ChefId">
                                
                            </a>
                        </p>
                        <p class="card-text"><b>Category: </b>@Model.SweetmeatCategory</p>
                        <p class="card-text">
                            <b>Les gouts: </b>
                            <hr />
                                <img class="border-info rounded-circle" src="~/images/téléchargement (1).jpg" style="max-width: 150px" />
                               <img class="border-info rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrqH44fzpyfIDyKl3LSu9BUivCT7BuE59fpLUfdcvrf9TIzoQoEPN_t2AXhINcIgvqdE8&usqp=CAU"  width="150px" height="147px"/>
                                <img class="border-info rounded-circle" src="~/images/dulce.jpg" style="max-width: 150px" />
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            <a class="btn  text-white" asp-action="ShoppingCard"  asp-route-id="@Model.Id" style="background-image: linear-gradient(to right,#fc46d7,#973ffb); "><i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString() DT)</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
